@import '../_variables';

.palette-layers {
  padding: 2px;

  .layers {
    display: block;
    min-height: 184px;
    height: 100%;
    margin-left: 0px;
    margin-bottom: 0;
    margin-top: 0px;

    &, * {
      line-height: 1;
    }

    div.layer-row {
      height: auto;
      line-height: 23px !important;
      margin: 0px;
      border-bottom: 1px solid $borderColor;
      position: absolute;
      width: 100%;
      *width: auto;
      white-space: nowrap;
      vertical-align: middle;

      &.g-active {
        background: $activeColor;

        &, * {
          color: $activeTextColor;
        }
      }

      &.g-selected {
        background: $selectedColor;

        &, * {
          color: $selectedTextColor;
        }
      }

      &.g-drop {
        background: $dragColor;

        &, * {
          color: $dragTextColor;
        }
      }

      > * {
        display: table-cell;
        vertical-align: middle;
        padding: 4px 0px;
        vertical-align: middle;

        &.layer-visibility, &.layer-lock, &.layer-outline {
          border-right: 1px solid $borderColor;
          min-width: 21px;
          max-width: 21px;
          text-align: center;

          &.layer-default {
            opacity: 0.5;
          }

          &, * {
            cursor: pointer;
          }
        }

        &.layer-icon {
          padding-left: 5px;
        }

        &.layer-color {
          min-width: 8px;
          max-width: 8px;
        }

        &.layer-toggler, &.layer-spacer {
          min-width: 8px;
          max-width: 8px;
          padding-left: 5px;
        }

        &.layer-title {
          vertical-align: middle;
          margin-left: 0;
          width: 100%;
          padding-top: 5px;
          padding-left: 5px;
          line-height: 1 !important;
        }
      }
    }
  }
}